
$header-gradient-top : #2980B9;
$header-gradient-middle : #6DD5FA;
$header-gradient-bottom : #fff;

.header
{
    // 높이 설정
    height: 100vh;
    min-height: 700px;
    // 배경 설정
    background: linear-gradient(180deg, $header-gradient-top, $header-gradient-middle, $header-gradient-bottom);


    // wrap
    &__wrap
    {
        width: 90vmax;
        height: 100%;
        margin : 0 auto;

        outline: 1px solid rgb(175, 228, 191);
    }

    // Svg
    &__svg
    {
        width: inherit;
        height: inherit;
    }
}


