
$section-gradient-a : #6BA88E;
$section-gradient-b : #079695;
$section-gradient-c : #097581;
$section-gradient-d : #025058;

$color : #FCFFE9;

.section
{
    min-height: 100vh;
    background: linear-gradient(180deg, $section-gradient-a, $section-gradient-b, $section-gradient-c, $section-gradient-d);

    // 각 목차 타이틀
    &__title
    {
        padding-top: 2em;
        text-align: center;

        font-size: 3vmax;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5px;
        text-shadow: 2px 2px 20px $section-gradient-a, 3px 3px 10px #fff;
        user-select: none;
    }

    &__desc
    {
        padding-top: 2em;
        text-align: center;
        font-size: 1.5vmax;
        letter-spacing: 2px;
        line-height: 1.5;

        & strong
        {
            font-weight: 700;
            font-size: 1.5em;
        }
        & a
        {
            color: inherit;
            text-decoration: none;
        }
        &--left
        {
            text-align: left;
        }
    }
}

// article common
.about, .skill, .portfolio, .thankyou
{
    height: 100vh;
    min-height: 700px;
    &__wrap
    {
        width: 90vmax;
        height: 100%;
        margin : 0 auto;

        outline: 1px solid #fff;
    }
}

// Skill
.skill
{
    // 컨테이너
    &__container
    {
        margin-top: 2em;

        width: 100%;
        height: 400px;


        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        outline: 1px solid yellow;
    }

    &__card
    {
        outline: 1px solid red;
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 2rem;
    }

    &__Image
    {
        vertical-align: middle;
        object-fit: cover;
    }
    &__desc
    {
        width: 80%;
        font-size: 1.5vmin;
        line-height: 1.5;
    }
}

.portfolio
{
    &__mainContainer
    {
        margin-top: 4rem;
        display: flex;

        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        gap : 1rem;
    }

    &__main
    {
        width: calc(55% - .5rem);
        height: 400px;

        outline: 1px solid lemonchiffon;
    }

    &__textContainer
    {
        width: calc(45% - 1rem);
        height: 400px;

        outline: 1px solid blueviolet;
    }
    &__subContainer
    {
        width: 100%;
        height: 200px;
        outline: brown;
    }

    // 텍스트 속성
    &__title
    {
        font-size: 1.8vmax;
        letter-spacing: 1.5px;
        & > strong
        {
            font-size: 1.5em;
            font-weight: 900;
        }
    }
    &__subtitle
    {
        font-size: 1.5vmax;
        letter-spacing: 1.5px;
    }
    &__desc
    {
        width: 100%;
        margin-top: 2em;
        font-size: 1.5vmax;
        line-height: 2;
    }

    &__useskils
    {
        font-size: 1.2vmax;
        margin-top: 2em;
        margin-left: 1.2em;

    }

    &__list
    {
        list-style-type: disc;
        font-size: 1.2vmax;

    }
}

.thankyou
{
    height: 40vh;
}
