$section-gradient-a: #6ba88e;
$section-gradient-b: #079695;
$section-gradient-c: #097581;
$section-gradient-d: #025058;

$color: #fcffe9;

.section {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        $section-gradient-a,
        $section-gradient-b,
        $section-gradient-c,
        $section-gradient-d
    );

    // 각 목차 타이틀
    &__title {
        padding-top: 2em;
        text-align: center;

        font-size: 4.8rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5px;
        text-shadow: 2px 2px 20px $section-gradient-a, 3px 3px 10px #fff;
        user-select: none;
    }

    &__desc {
        padding-top: 2em;
        text-align: center;
        font-size: 2.4rem;
        letter-spacing: 2px;
        line-height: 1.5;

        & strong {
            font-weight: 700;
            font-size: 1.5em;
        }
        & a {
            color: inherit;
            text-decoration: none;
        }
        &--left {
            text-align: left;
        }
    }
}

// article common
.about,
.skill,
.portfolio,
.thankyou {
    height: 200vh;
    min-height: 700px;
    &__wrap {
        width: 90vmax;
        height: 100%;
        margin: 0 auto;

        // outline: 1px solid #fff;
    }
    opacity: 0;
    position: relative;

    transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// Skill
.skill {
    // 컨테이너
    &__container {
        margin-top: 2em;

        width: 100%;
        height: 400px;

        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        // outline: 1px solid yellow;
    }

    &__card {
        // outline: 1px solid red;
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__Image {
        vertical-align: middle;
        object-fit: cover;
    }
    &__desc {
        width: 80%;
        font-size: 1.5vmin;
        line-height: 1.5;
    }
}

.portfolio {
    &__mainContainer {
        margin-top: 4rem;
        display: flex;

        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1rem;
    }

    &__main {
        width: calc(45% - 0.5rem);
        height: 400px;

        // outline: 1px solid lemonchiffon;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        border-radius: 25px;
        box-shadow: 1px 1px 15px #079695;
        overflow: hidden;

        position: relative;
    }

    // Modal
    &__modal {
        width: 0%;
        height: inherit;

        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 3;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        & > a {
            display: inline-block;
            width: 200px;
            height: 50px;
            padding-top: 1.3rem;
            text-align: center;

            color: $section-gradient-a;
            text-decoration: none;

            font-size: 2rem;
            margin-top: 1.5em;

            border: 2px solid $color;
            border-radius: 5rem;

            transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            font-weight: 700;
            &:hover {
                color: $color;

                border: 2px solid $section-gradient-a;
            }
        }
    }

    &__textContainer {
        width: calc(45% - 1rem);
        height: 400px;

        // outline: 1px solid blueviolet;
    }
    &__subContainer {
        width: 100%;
        height: 200px;
        // outline: brown;
    }

    &__flexbox {
        display: flex;
        margin-top: 4rem;
        justify-content: space-evenly;
        align-items: center;
    }
    &__item {
        width: 20%;
        height: 15rem;
        cursor: pointer;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // 텍스트 속성
    &__title {
        font-size: 4rem;
        letter-spacing: 1.5px;
        & > strong {
            font-size: 1.5em;
            font-weight: 900;
        }
    }
    &__subtitle {
        font-size: 3.2rem;
        letter-spacing: 1.5px;
        margin-top: 2rem;
    }
    &__desc {
        width: 80%;
        margin-top: 2em;
        font-size: 1.6rem;
        line-height: 2;
    }

    &__useskils {
        font-size: 2.4rem;
        margin-top: 1em;
        margin-left: 1.2em;
    }

    &__list {
        list-style-type: disc;
        font-size: 1.6rem;
        margin-top: 1rem;
    }
}

.thankyou {
    height: 100vh;
}

.modal {
    &__text {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 5px;
    }
    &__close {
        background-color: transparent;
        border: 2px solid $color;
        outline: none;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 5px;
        margin-top: 1.5em;
        padding: 0.5em 1em;
        border-radius: 50px;
    }
}

.aside {
    position: fixed;

    top: 50%;
    right: 2rem;

    transform: translateY(-50%);
    z-index: 1000;
}

.gnb {
    height: 600px;

    // outline: 1px solid #fff;

    &__list {
        height: inherit;
        display: flex;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &__item {
        font-size: 2rem;
        color: $color;

        font-weight: 700;
        letter-spacing: 2px;

        & > a {
            text-decoration: none;
            color: inherit;
        }
        transition: color 0.4s ease, text-shadow 0.5s ease;

        &:hover {
            text-shadow: 2px 2px 15px $color;
        }
    }

    &--active {
    }
}

.jallyfish {
    position: absolute;

    width: 50px;

    left: 50%;
    opacity: 0.5;
}

.jallyfish2 {
    position: absolute;

    width: 250px;
    top: 300px;
    left: 20%;
    opacity: 0.5;
}

.water__bubble {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    & > img {
        width: 100%;
    }

    &1 {
        width: 120px;
        bottom: 16rem;
        left: 18rem;
    }
    &2 {
        width: 100px;
        left: 5rem;
        bottom: 32rem;
    }
    &3 {
        width: 180px;
        left: 18rem;
        bottom: 48rem;
    }
}
.water__fish {
    position: absolute;
    left: 50%;
    bottom: 200px;
    & > img {
        width: 100%;
        height: 100%;
    }
}
