/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #FCFFE9;
}

.header {
  height: 100vh;
  min-height: 700px;
  background: linear-gradient(180deg, #2980B9, #6DD5FA, #fff);
}
.header__wrap {
  width: 90vmax;
  height: 100%;
  margin: 0 auto;
  outline: 1px solid #afe4bf;
}
.header__svg {
  width: inherit;
  height: inherit;
}

.section {
  min-height: 100vh;
  background: linear-gradient(180deg, #6BA88E, #079695, #097581, #025058);
}
.section__title {
  padding-top: 2em;
  text-align: center;
  font-size: 3vmax;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: 2px 2px 20px #6BA88E, 3px 3px 10px #fff;
  user-select: none;
}
.section__desc {
  padding-top: 2em;
  text-align: center;
  font-size: 1.5vmax;
  letter-spacing: 2px;
  line-height: 1.5;
}
.section__desc strong {
  font-weight: 700;
  font-size: 1.5em;
}
.section__desc a {
  color: inherit;
  text-decoration: none;
}
.section__desc--left {
  text-align: left;
}

.about, .skill, .portfolio, .thankyou {
  height: 100vh;
  min-height: 700px;
}
.about__wrap, .skill__wrap, .portfolio__wrap, .thankyou__wrap {
  width: 90vmax;
  height: 100%;
  margin: 0 auto;
  outline: 1px solid #fff;
}

.skill__container {
  margin-top: 2em;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  outline: 1px solid yellow;
}
.skill__card {
  outline: 1px solid red;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.skill__Image {
  vertical-align: middle;
  object-fit: cover;
}
.skill__desc {
  width: 80%;
  font-size: 1.5vmin;
  line-height: 1.5;
}

.portfolio__mainContainer {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
}
.portfolio__main {
  width: calc(55% - .5rem);
  height: 400px;
  outline: 1px solid lemonchiffon;
}
.portfolio__textContainer {
  width: calc(45% - 1rem);
  height: 400px;
  outline: 1px solid blueviolet;
}
.portfolio__subContainer {
  width: 100%;
  height: 200px;
  outline: brown;
}
.portfolio__title {
  font-size: 1.8vmax;
  letter-spacing: 1.5px;
}
.portfolio__title > strong {
  font-size: 1.5em;
  font-weight: 900;
}
.portfolio__subtitle {
  font-size: 1.5vmax;
  letter-spacing: 1.5px;
}
.portfolio__desc {
  width: 100%;
  margin-top: 2em;
  font-size: 1.5vmax;
  line-height: 2;
}
.portfolio__useskils {
  font-size: 1.2vmax;
  margin-top: 2em;
  margin-left: 1.2em;
}
.portfolio__list {
  list-style-type: disc;
  font-size: 1.2vmax;
}

.thankyou {
  height: 40vh;
}