/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#header__layout {
  width: inherit;
  height: inherit;
}

.header {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}
.header__background--day {
  background: linear-gradient(180deg, #2980b9, #6dd5fa, #ffffff);
  background-attachment: scroll;
}
.header__wrap {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.header__title {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, 0) rotateX(0deg);
  transition: all 1s cubic-bezier(0.63, 0.03, 0.95, 1.43);
}
.header__svg {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.header__bottom {
  position: absolute;
  width: 100vw;
  height: 400px;
  bottom: -20rem;
  background: url("../images/dirt1.svg");
}
.header__line {
  position: absolute;
  bottom: -25rem;
  width: 100vw;
  height: 100px;
  background: linear-gradient(180deg, #e9c481, #deb16c, #ccb072);
  filter: blur(2px);
  border-radius: 25%;
}
.header__ball {
  position: absolute;
  right: 50px;
  bottom: -20rem;
  z-index: 10;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.header__ball:hover {
  transform: scale(1.1);
}
.header__tree {
  position: absolute;
  left: 20px;
  bottom: -10rem;
  z-index: 0;
}

.section {
  width: 100vw;
  height: 5500px;
  min-height: 100vh;
}
.section__background--day {
  background: linear-gradient(180deg, #deb16c, #6ba88e, #6ba88e, #079695, #097581, #025058);
}
.section__movebox {
  transform: translateX(200px);
  opacity: 0.2;
  transition: all 0.5s ease;
}
.section__wrap {
  width: 1440px;
  margin: 0 auto;
  display: grid;
  height: inherit;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px repeat(3, 1fr);
  grid-template-areas: "about about" "skill skill" "portfolio portfolio" "footer footer";
  position: relative;
  padding-top: 100rem;
  gap: 90rem;
}
.section__wrap--page1 {
  position: relative;
  height: 10%;
  outline: none;
  grid-area: about;
}
@supports (display: grid) {
  .section__wrap--page1 {
    height: 100%;
  }
}
@supports not (display: grid) {
  .section__wrap--page1 {
    height: 10%;
  }
}
.section__wrap--page2 {
  position: relative;
  height: 40%;
  outline: none;
  grid-area: skill;
}
@supports (display: grid) {
  .section__wrap--page2 {
    height: 100%;
  }
}
@supports not (display: grid) {
  .section__wrap--page2 {
    height: 40%;
  }
}
.section__wrap--page3 {
  position: relative;
  height: 40%;
  outline: none;
  grid-area: portfolio;
}
@supports (display: grid) {
  .section__wrap--page3 {
    height: 100%;
  }
}
@supports not (display: grid) {
  .section__wrap--page3 {
    height: 40%;
  }
}
.section__wrap--page4 {
  position: relative;
  height: 10%;
  outline: none;
  grid-area: footer;
}
@supports (display: grid) {
  .section__wrap--page4 {
    height: 100%;
  }
}
@supports not (display: grid) {
  .section__wrap--page4 {
    height: 10%;
  }
}
.section__title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 6rem;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 2px #444;
  mix-blend-mode: screen;
  color: #fff;
}
.section__title--left {
  text-align: left;
}
.section__subtitle {
  margin-top: 1.6rem;
  font-size: 2.4rem;
  text-align: right;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 2px #444;
}
.section__subtitle--left {
  text-align: left;
}
.section__subtitle--large {
  font-size: 3.4rem;
}
.section__paragraph {
  margin-top: 1.6rem;
  text-align: right;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.5;
  text-shadow: 1px 1px 2px #444;
}
.section__paragraph--left {
  text-align: left;
}
.section__paragraph--bold {
  font-weight: bold;
}
.section__paragraph > a {
  text-decoration: none;
  color: inherit;
}

.section--active {
  transform: translateX(0);
  opacity: 1;
}

.about__svg {
  position: absolute;
  bottom: -100rem;
  left: -10rem;
  width: 600px;
  height: 600px;
  opacity: 0;
  transition: bottom 2s ease;
}
.about__svg--active {
  bottom: 0;
  opacity: 1;
}

.card__container {
  display: flex;
  margin-top: 2rem;
  gap: 16px;
  justify-content: space-evenly;
}

.card__title {
  font-size: 2.4rem;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.card__image > img {
  vertical-align: baseline;
}
.card__description {
  font-size: 1.6rem;
  text-align: center;
  color: white;
}