/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #FCFFE9;
}

.header {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 600px;
  position: relative;
  background: linear-gradient(180deg, #2980b9, #6dd5fa, #fff);
}

.header__cloude {
  position: absolute;
  opacity: 0.8;
  right: 0%;
}
.header__cloude--1 {
  top: 70px;
  right: 654px;
  animation: cloudeMove 300s linear alternate infinite;
}
.header__cloude--2 {
  top: 140px;
  right: 452px;
  animation: cloudeMove 300s linear alternate infinite;
}
.header__cloude--3 {
  top: 210px;
  right: 696.6666666667px;
  animation: cloudeMove 300s linear alternate infinite;
}
.header__cloude--4 {
  top: 280px;
  right: 568.6666666667px;
  animation: cloudeMove 300s linear alternate infinite;
}
.header__cloude--5 {
  top: 350px;
  right: 1288px;
  animation: cloudeMove 300s linear alternate infinite;
}
.header__cloude--6 {
  top: 420px;
  right: 1228.6666666667px;
  animation: cloudeMove 300s linear alternate infinite;
}
.header__land {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  min-width: 800px;
}
.header__bitchBall {
  width: 100px;
  position: absolute;
  right: 2rem;
  bottom: 10rem;
  z-index: 11;
}
.header__tree {
  position: absolute;
  width: 1200px;
  left: 2rem;
  bottom: 2rem;
  transform: translateY(0) scale(1);
  z-index: 6;
}
.header__tree > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: baseline;
}
.header__gradient {
  width: 100vw;
  height: 100px;
  position: absolute;
  bottom: -4rem;
  background: linear-gradient(180deg, #e9c481, #deb16c, #6ba88e, #6ba88e);
  z-index: 11;
}
.header__title {
  width: 80%;
  font-size: 10vmin;
  font-weight: 900;
  text-align: center;
  color: #fcffe9;
  user-select: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 1px #fcffe9;
  z-index: 12;
}

@keyframes cloudeMove {
  100% {
    right: -150vw;
  }
}
.section {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, #6ba88e, #079695, #097581, #025058);
}
.section__title {
  padding-top: 2em;
  text-align: center;
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: 2px 2px 20px #6ba88e, 3px 3px 10px #fff;
  user-select: none;
}
.section__desc {
  padding-top: 2em;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 2px;
  line-height: 1.5;
}
.section__desc strong {
  font-weight: 700;
  font-size: 1.5em;
}
.section__desc a {
  color: inherit;
  text-decoration: none;
}
.section__desc--left {
  text-align: left;
}

.about,
.skill,
.portfolio,
.thankyou {
  height: 200vh;
  min-height: 700px;
  opacity: 0;
  position: relative;
  transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about__wrap,
.skill__wrap,
.portfolio__wrap,
.thankyou__wrap {
  width: 90vmax;
  height: 100%;
  margin: 0 auto;
}

.skill__container {
  margin-top: 2em;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.skill__card {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.skill__Image {
  vertical-align: middle;
  object-fit: cover;
}
.skill__desc {
  width: 80%;
  font-size: 1.5vmin;
  line-height: 1.5;
}

.portfolio__mainContainer {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
}
.portfolio__main {
  width: calc(45% - 0.5rem);
  height: 400px;
  border-radius: 25px;
  box-shadow: 1px 1px 15px #079695;
  overflow: hidden;
  position: relative;
}
.portfolio__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__modal {
  width: 0%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.portfolio__modal > a {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding-top: 1.3rem;
  text-align: center;
  color: #6ba88e;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 1.5em;
  border: 2px solid #fcffe9;
  border-radius: 5rem;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-weight: 700;
}
.portfolio__modal > a:hover {
  color: #fcffe9;
  border: 2px solid #6ba88e;
}
.portfolio__textContainer {
  width: calc(45% - 1rem);
  height: 400px;
}
.portfolio__subContainer {
  width: 100%;
  height: 200px;
}
.portfolio__flexbox {
  display: flex;
  margin-top: 4rem;
  justify-content: space-evenly;
  align-items: center;
}
.portfolio__item {
  width: 20%;
  height: 15rem;
  cursor: pointer;
}
.portfolio__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__title {
  font-size: 4rem;
  letter-spacing: 1.5px;
}
.portfolio__title > strong {
  font-size: 1.5em;
  font-weight: 900;
}
.portfolio__subtitle {
  font-size: 3.2rem;
  letter-spacing: 1.5px;
  margin-top: 2rem;
}
.portfolio__desc {
  width: 80%;
  margin-top: 2em;
  font-size: 1.6rem;
  line-height: 2;
}
.portfolio__useskils {
  font-size: 2.4rem;
  margin-top: 1em;
  margin-left: 1.2em;
}
.portfolio__list {
  list-style-type: disc;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.thankyou {
  height: 100vh;
}

.modal__text {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
}
.modal__close {
  background-color: transparent;
  border: 2px solid #fcffe9;
  outline: none;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 1.5em;
  padding: 0.5em 1em;
  border-radius: 50px;
}

.aside {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 1000;
}

.gnb {
  height: 600px;
}
.gnb__list {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.gnb__item {
  font-size: 2rem;
  color: #fcffe9;
  font-weight: 700;
  letter-spacing: 2px;
  transition: color 0.4s ease, text-shadow 0.5s ease;
}
.gnb__item > a {
  text-decoration: none;
  color: inherit;
}
.gnb__item:hover {
  text-shadow: 2px 2px 15px #fcffe9;
}
.jallyfish {
  position: absolute;
  width: 50px;
  left: 50%;
  opacity: 0.5;
}

.jallyfish2 {
  position: absolute;
  width: 250px;
  top: 300px;
  left: 20%;
  opacity: 0.5;
}

.water__bubble {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.water__bubble > img {
  width: 100%;
}
.water__bubble1 {
  width: 120px;
  bottom: 16rem;
  left: 18rem;
}
.water__bubble2 {
  width: 100px;
  left: 5rem;
  bottom: 32rem;
}
.water__bubble3 {
  width: 180px;
  left: 18rem;
  bottom: 48rem;
}

.water__fish {
  position: absolute;
  left: 50%;
  bottom: 200px;
}
.water__fish > img {
  width: 100%;
  height: 100%;
}